################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tes-Proyek-3F/FileContentIndex
/.vs
